.main {
    height: 100%;
    .nav,
    .container {
        float: left;
        height: 100%;
    }
    .nav {
        width: 256px;
        overflow: hidden;
    }
    .container {
        width: calc(100% - 256px);
        padding: 20px;
    }
}